@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes spin {
  0% {transform: rotate(0deg) scale(1)}
  50% {transform: rotate(180deg) scale(0.8)}
  100% {transform: rotate(360deg) scale(1)}
}

.root {
  display: inline-block;
  animation: fadeIn 2s ease-out;
}

.bar {
  width: var(--size, 30px);
  height: var(--size, 30px);
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-top-color: var(--color, #aaa);
  border-bottom-color: transparent;
  border-right-color: var(--color, #aaa);
  border-left-color: var(--color, #aaa);
  border-image: initial;
  display: inline-block;
  animation: 0.75s linear 0s infinite normal both running spin;
}
