.modalContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
  overflow: hidden;
}

.modalCloseButton {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.modalCloseButton:hover {
  opacity: 1;
}
.modalCloseButton:before, .modalCloseButton:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 20px;
  width: 2px;
  border-radius: 2px;
  background-color: #666;
}
.modalCloseButton:before {
  transform: rotate(45deg);
}
.modalCloseButton:after {
  transform: rotate(-45deg);
}

.webview {
  border: none;
  width: 100%;
  height: 100%;
}
